<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li> <a class="waves-effect waves-dark" href="/" aria-expanded="false"><span class="hide-menu">General Outage<br>Frequency</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" href="/wind-freq.html" aria-expanded="false"><span class="hide-menu">Outages Caused by<br>Wind Frequency</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" href="/rain-freq.html" aria-expanded="false"><span class="hide-menu">Outages Caused By<br>Precipitation Frequency</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" href="/time-series.html" aria-expanded="false"><span class="hide-menu">Time Series for Outages</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" href="/likelihood-pred.html" aria-expanded="false"><span class="hide-menu">Outage Likelihoods</span></a>
                </li>
            </ul>

        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
    <!-- Bottom points-->
    <!-- End Bottom points-->
</aside>

