<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Power Outage Predictor and Analysis System</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body style="background: #ffffff;">
 <div>
	<h1>Power Outage Predictor and Analysis System</h1>
     {{ prediction_text }}
  </div>
  <div id="container" style="width:840px; height: 400px;">
  	<h4>Frequency of outages affected by wind</h4>
   {% include 'outages_wind.html' %}

 </div>
 <div id="container" style="width:840px; height: 400px; padding:20px">
  	<h4>Frequency of outages affected by rain</h4>
   {% include 'outages_precip.html' %}

 </div>
 <div id="container" style="width:840px; height: 400px; padding:20px">
  	<h4>24 hour time series of outages</h4>
   {% include 'timeseries_outages.html' %}

 </div>
</body> 
</html>